#navbar{
    display: flex;
    height: 60px;
    width: 100wh;
    align-items: center;
    margin-top: 10px;
}
ul{
    list-style-type:none;
    width:450px ;
    display: flex;
    margin-top: 40px;
    margin-left: 260px;
    
    font-size: 20px;
    justify-content: space-around;

}
ul li{
    color: rgba(63, 60, 60, 0.7);
}

.image{
    height: 80px;
    margin-left: 70px;
    margin-top: 30px;
}
#Username{
    margin-top: 40px;
    height: 60px;
    width: 120px;
    margin-left: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    margin-right:70px;
    font-size: 20px;
    border: 1px solid skyblue;
    color:black;
    border-radius: 14px;
    background-color: rgba(87, 87, 209, 0.7);
}
.maincontent{
    width: 1500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-left: -80px;
    gap: 0px;
}
.Heading{
    gap: 0px;
}
#one,#two{
    color:rgba(63, 60, 60, 0.9) ;
    margin: 10px;
    font-size: 50px;
}
#three{
    color: rgb(87, 87, 209);
    font-size: 40px;
    margin: 10px;
}
#four{
    width: 480px;
    margin-left: 15px;
    font-size: 22px;
    color:rgb(63, 60, 60, 0.7) ;
}
#five{
    margin-top: 30px;
    margin-left: 55px;
    border: 1px solid rgb(5, 198, 202);
    width: 220px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color:rgba(87, 87, 209, 0.8) ;
   
}
.six{
    margin-top: -200px;
    height: 500px;
}
